// Mixins Here

@background-color: rgb(20, 8, 48);
@font-color: azure;

// Mixin
.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

// How to use
.btn {
    display: inline-block;
    background: @background-color;
    color: @font-color;
    font-size: large; 
    text-decoration: none;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &:hover, &:active {
        color: @background-color;
        background: @font-color;
    } 
}

.btn(fontcolor, paddingSize) {
    
}