// Navigation code here

.navigation {
    border: 1px double #e0e0e0;
    border-radius: 10px;
    text-align: center; 
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-direction: column;
    padding-bottom: 15px; 

    // Create a fixed navigation and add opacity to the background
    position: fixed; 
    top: 0; 
    z-index: 10000;
    width: 100% !important;
    background-color: rgba(128, 128, 128, 0.5); 
    
    h2 {
        color: #22283B;
        padding: 20px 0;
        display: flex;
        justify-content: center; 
        @media @phone {
            font-size: 5rem; 
        }
    }

    nav {
        justify-content: space-evenly;
        display: flex;
        width: 40%;
        font-size: large; 
        @media @phone {
            width: 100%; 
            font-size: large; 
        }
    }
}