// Navigation code here

.navigation {
    a {
        display: inline-block;
        background: #f4f4f4;
        justify-content: center; 
        align-items: center;
        text-align: center; 
        padding: 20px 2%;
        font-size: 15px;
    }
    
    h2 {
        color: #22283B;
        background: #f4f4f4;
        padding: 20px 0;
        border: 1px double #e0e0e0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}