// Navigation code here

.navigation {
    background: #f4f4f4;
    border: 1px double #e0e0e0;
    border-radius: 10px;
    text-align: center; 
    align-items: center;

    a {
        display: inline-block;
        padding: 20px 2%;
        font-size: 15px;
    }
    
    h2 {
        color: #22283B;
        padding: 20px 0;
        display: flex;
        justify-content: center; 
    }

    @media @phone {
        // font-family: cursive; 
        
    }
}